
#servers {
  .btn_block {
    text-align: center;
  }
  .btn {
    padding: 6px 6px;
    margin-right: 4px;
  }

  #topButtons {
    margin-bottom: 20px;
  }

}



#users {
  .btn_block {
    text-align: center;
  }
  .btn {
    padding: 6px 6px;
    margin-right: 4px;
  }


}
