<html>
    <head>
        <meta charset="UTF-8" />
        <title></title>
        <link id='dynamic-favicon' type='image/x-icon' rel="shortcut icon" href="/ico/1.ico">
    </head>
    <body>
        <div id="root"></div>
        <!-- Main -->
        <script src="/build/build.js"></script>

    </body>
</html>
